PAYMENT_PORT=3003
RABBITMQ_URL=amqp://localhost:5672
NATS_URL=nats://localhost:4222
STRIPE_SECRET=************
SUCCESS_URL=http://localhost:3003/api/payments/success
CANCEL_URL=http://localhost:3003/api/payments/cancel